extends ../../templates/common.pug
block content
	h1 User List
	.d-flex.align-items-center.mb-4
		a.btn.btn-primary(href="/user/create") Create
		form.m-auto(action="/user/search", method="GET")
			.form-group.m-auto
				input(name="q", value=query, class="form-control, mr-2") 
				button(class="btn btn-primary") Search
	table.table
		thead
			tr
				th(scope="col") #
				th(scope="col") Avatar
				th(scope="col") Name
				th(scope="col") Phone Number
				th(scope="col") Action
		tbody
			each user in users
				tr
					th(scope="row")= user.id
					td
						if(user.avatar) 
							img.rounded-circle(src='/' + user.avatar, width="60")
						else 
							img.rounded-circle(src="images/user.png", width="60")
					td= user.name
					td= user.phone
					td 
						a(href="./user/" + user.id) View

